<div class="buttonsBoard">
  <a class="btn btn-grey" *ngIf="!isSave" (click)="newRec()">New</a>
  <a class="btn btn-grey" *ngIf="isSave" (click)="save()">Save</a>
  <a class="btn btn-grey" *ngIf="isSave" (click)="delet()">Delete</a>
  <a class="btn btn-grey" *ngIf="!isSave" (click)="loadAllTattics()">Load</a>
  <a class="btn btn-grey" *ngIf="!isSave" (click)="clear()">Clear</a>
</div>
<div *ngIf="isNewInput" class="input">
  <form (ngSubmit)="startRec(f)" #f="ngForm">
    <input type="text" ngModel placeholder="Nome Tattica" name="nome" />
    <button class="button">V</button>
  </form>
</div>
<div *ngIf="isLoad" class="tattList">
  <a *ngFor="let tattic of allTattics" (click)="loadThisTattic(tattic)">{{
    tattic.name
  }}</a>
  <a class="close" (click)="isLoad = false">X</a>
</div>
<div class="lavagna">
  <img
    src="../../../assets/img/FutsalPitchGreen.png"
    [style.max-height]="maxH + 'px'"
    alt="NonTrovata"
  />
  <div class="elemento" #elemento data-id="1" appDraggable>
    <i class="fa-solid fa-shirt" style="color: #3498db"></i>
    <p>1</p>
  </div>
  <div class="elemento" #elemento data-id="3" appDraggable>
    <i class="fa-solid fa-shirt" style="color: #3498db"></i>
    <p>3</p>
  </div>
  <div class="elemento" #elemento data-id="2" appDraggable>
    <i class="fa-solid fa-shirt" style="color: #3498db"></i>
    <p>2</p>
  </div>
  <div class="elemento" #elemento data-id="4" appDraggable>
    <i class="fa-solid fa-shirt" style="color: #3498db"></i>
    <p>4</p>
  </div>
  <div class="elemento" #elemento data-id="5" appDraggable>
    <i class="fa-solid fa-shirt" style="color: #3498db"></i>
    <p>5</p>
  </div>
  <div class="elemento ball" #elemento data-id="11" appDraggable>
    <i class="fa-solid fa-futbol" style="color: #faf200"></i>
  </div>
  <div class="elemento" #elemento data-id="6" appDraggable>
    <i class="fa-solid fa-shirt" style="color: #e00016"></i>
    <p>1</p>
  </div>
  <div class="elemento" #elemento data-id="7" appDraggable>
    <i class="fa-solid fa-shirt" style="color: #e00016"></i>
    <p>2</p>
  </div>
  <div class="elemento" #elemento data-id="8" appDraggable>
    <i class="fa-solid fa-shirt" style="color: #e00016"></i>
    <p>3</p>
  </div>
  <div class="elemento" #elemento data-id="9" appDraggable>
    <i class="fa-solid fa-shirt" style="color: #e00016"></i>
    <p>4</p>
  </div>
  <div class="elemento" #elemento data-id="10" appDraggable>
    <i class="fa-solid fa-shirt" style="color: #e00016"></i>
    <p>5</p>
  </div>
  <!-- Aggiungi altri elementi qui -->
</div>
