<div class="buttonsBoard">
  <a
    class="btn btn-grey"
    *ngIf="!isSave"
    (click)="this.isNewInput = !this.isNewInput"
    >New</a
  >
  <a class="btn btn-grey" (click)="showAddIcons()">+</a>
  <app-modale-add-icons
    *ngIf="isModalOpen"
    (closeModal)="closeModal()"
  ></app-modale-add-icons>
  <a class="btn btn-grey" *ngIf="isSave" (click)="save()">Save</a>
  <!-- <a class="btn btn-grey" *ngIf="!isSave" (click)="delet()">delet</a> -->
  <a class="btn btn-grey" *ngIf="!isSave" (click)="clear()">Reset pos</a>
  <a class="btn btn-grey" *ngIf="!isSave" (click)="loadAllTattics()">Load</a>
  <!-- pulstanti PLAYER -->
  <div class="playerTattic" *ngIf="isLoaded && !isSave">
    <a class="btn btn-grey" (click)="prevMove()"
      ><i class="fa-solid fa-left-long"></i
    ></a>
    <a class="btn btn-grey" (click)="playTattic()"
      ><i class="fa-solid fa-play"></i
    ></a>
    <a class="btn btn-grey" (click)="nextMove()"
      ><i class="fa-solid fa-right-long"></i
    ></a>
    <a>
      {{ this.tatticToPlayIndex }} / {{ this.tatticToPlay.positions.length }}</a
    >
  </div>
  <!--FINE pulstanti PLAYER -->
</div>
<!-- form per nuova tattica -->
<div *ngIf="isNewInput" class="input">
  <form (ngSubmit)="startRec(f)" #f="ngForm">
    <input type="text" ngModel placeholder="Nome Tattica" name="nome" />
    <button class="btn btn-green">
      <i class="fa-solid fa-check"></i>
    </button>
  </form>
</div>
<!-- mostra le tattiche da caricare -->
<div *ngIf="isLoad" class="tattList">
  <a *ngFor="let tattic of allTattics" (click)="loadThisTattic(tattic)">{{
    tattic.name
  }}</a>
  <a class="close" (click)="isLoad = false"
    ><i class="fa-solid fa-xmark"></i
  ></a>
</div>

<!-- LAVAGNA -->
<div class="lavagna">
  <!-- sarà la scia dopo il movimento -->
  <!-- <div class="animated" [style.--new-x]="newX" [style.--new-y]="newY"></div> -->
  <img
    src="../../../assets/img/FutsalPitchGreen.png"
    [style.max-height]="maxH + 'px'"
    alt="NonTrovata"
  />
  <div
    *ngFor="let el of nowPositionAll"
    id="{{ el.id }}"
    #elemento
    appDraggable
    class="elemento"
  >
    <app-icon [iconInfoInput]="el.info!"></app-icon>
  </div>
</div>
