.elemento {
  position: absolute;
  color: #fff;
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 50%;
}
.elemento p,
.elemento i {
  position: absolute;
  font-size: 2.5em;
}
.elemento i {
  font-size: 3em;
}

.elemento p {
  right: -85%;
  top: 85%;
}
