ul {
  list-style: none;
  display: flex;
  margin: 0;
  background: grey;
}

li {
  padding: 1em;
}

a {
  color: black;
  text-decoration: none;
}

li:hover {
  background-color: rgb(94, 94, 94);
  border-radius: 10px;
}
