ul {
  list-style: none;
  display: flex;
  margin: 0;
  background: #5e5e5e;
}

li {
  padding: 0.7em;
  margin: 0.5em;
  background-color: rgb(80, 80, 80);
  border-radius: 10px;
  border: 1px solid #adadad;
}

a {
  color: white;
  text-decoration: none;
}

li:hover {
  background-color: rgb(65, 65, 65);
  border-radius: 10px;
}
