<h1>Registra il tuo nuovo utente</h1>
<div class="spinner-border text-secondary loader" *ngIf="isLoading"></div>
<div class="message" *ngIf="!staticAlertClosed">
  <h2>Utente modificato con successo</h2>
  <p>Stai per essere redirezionato alla tua home page.</p>
</div>
<div class="message" *ngIf="!createdMessage">
  <h2>Utente CREATO con successo</h2>
  <p>Stai per essere redirezionato alla tua home page.</p>
</div>
<form [formGroup]="form">
  <div class="form-group">
    <div>
      <h3 for="uName">Nome:</h3>
      <input type="text" formControlName="uName" placeholder="Name" />
    </div>
    <div>
      <h3 for="surname">Cognome:</h3>
      <input type="text" formControlName="surname" placeholder="Surname" />
    </div>
    <!-- <div formGroupName="> -->
    <div class="inputContainer">
      <h3 for="email">Email:</h3>
      <input type="email" formControlName="email" placeholder="email" />
      <span *ngIf="!isValid('email') && isTouched('email')"
        >Inserire un'email valida.
        <!-- {{ getMessage("form") }} -->
      </span>
    </div>
    <div class="inputContainer">
      <h3 for="password">Inserire una password valida</h3>
      <input
        type="password"
        formControlName="password"
        placeholder="password"
      />
      <span *ngIf="!isValid('password') && isTouched('password')"
        >Inserire password
      </span>
    </div>
    <!-- </div> -->
    <div class="inputContainer">
      <h3 for="passwordConf">Confermare la password</h3>
      <input
        type="password"
        formControlName="passwordConf"
        placeholder="Conferma password"
      />
      <span *ngIf="!isValid('passwordConf') && isTouched('passwordConf')"
        >Confermare password
      </span>
      <span
        class="errorMessage"
        *ngIf="
          isValid('passwordConf') &&
          !isPassword('passwordConf', 'password') &&
          isTouched('passwordConf')
        "
        >Password diverse
      </span>
      <span
        class="okMessage"
        *ngIf="
          isValid('passwordConf') &&
          isPassword('passwordConf', 'password') &&
          isTouched('passwordConf')
        "
        >Password ok
      </span>
    </div>
    <div *ngIf="isId">
      <h3 for="id">ID</h3>
      <input type="text" formControlName="id" placeholder="id" />
    </div>
    <div *ngIf="!isId">
      <button [disabled]="isLoading" class="btn btn-grey" (click)="sendUser()">
        Conferma User
      </button>
    </div>
    <div *ngIf="isId">
      <button [disabled]="isLoading" class="btn btn-grey" (click)="editUser()">
        Modifica User
      </button>
    </div>
  </div>
</form>
