<h1 class="m-3 text-center">Modulo per il login</h1>

<!-- <ngb-alert
  *ngIf="staticAlertClosed"
  [type]="showMessage.type"
  [dismissible]="false"
>
  <strong>{{ showMessage.message }}</strong>
</ngb-alert>
<ngb-alert *ngIf="staticAlertClosed" [type]="'success'" [dismissible]="false">
  <app-alert></app-alert
></ngb-alert> -->

<!-- //forse non serve -->
<!-- <div class="message" *ngIf="staticAlertClosed">
  <h2>Utente Loggato con successo</h2>
  <p>Stai per essere redirezionato alla tua home page.</p>
</div> -->

<div class="message" *ngIf="staticAlertClosed">
  <h2>Utente Loggato con successo</h2>
  <p>Stai per essere redirezionato alla tua home page.</p>
</div>

<form (ngSubmit)="submit(f)" #f="ngForm" class="mt-3 mb-1">
  <div>
    <div>
      <h3 for="email">Inserisci la tua mail</h3>
      <input type="text" placeholder="Email Name" ngModel name="email" />
    </div>
    <div>
      <h3 for="password">Inserisci la tua password</h3>
      <input type="password" placeholder="password" ngModel name="password" />
    </div>
    <div>
      <button class="btn btn-grey">Effettua Login</button>
    </div>
  </div>
</form>
<!-- <a class="btn btn-danger" (click)="logOut()">Effettua Log-Out</a> -->
